In [2]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0, 11 , 3, -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в ктором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [3]:
result = [len(item) for item in l1]
print(result)

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [4]:
result = sum(1 for item in l1 if len(item) > 2)
print(result)

3


4.15) Просуммировать произведение ключей на значения словаря d4.

In [6]:
result = sum(key * value for key, value in d4.items())
print(result)

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [7]:
d7 = {key: value for key, value in d6.items() if key not in d5}
print(d7)

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [9]:
result = [val * idx if isinstance(val, int) else val for idx, val in enumerate(l2)]
print(result)

[0, 4, -4, -9, 0, 55, 18, -7]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [10]:
l3 = [x for x in l2 if x >= 0]
print(l3)

[2, 4, 0, 11, 3]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [11]:
l3 = [i if i >= 0 else l2.index(i) for i in l2]
print(l3)

[2, 4, 2, 3, 0, 11, 3, 7]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [12]:
def multiply(x: int or float, y):
    return x * y

print(multiply(5, 3))
print(multiply(2.5, 4))
print(multiply(-3, -7))

15
10.0
21

In [13]:
help(multiply)

Help on function multiply in module __main__:

multiply(x: int, y)

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [14]:
def multiply(a, b=None, c=None):
    if b is None:
        return a
    elif c is None:
        return a * b
    else:
        return a * b * c
     
print(multiply(2))  
print(multiply(2, 3))  
print(multiply(2, 3, 4))

2
6
24

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)

In [15]:
a1_result = multiply(15, 10, 5)
print(a1_result)

a2_result = multiply(3, 1)
print(a2_result)

a3_result = multiply(2, 35, 55)
print(a3_result)

a4_first_result = multiply(5, 10, 15)
print(a4_first_result)

a4_last_result = multiply(10, 15, 20)
print(a4_last_result)

750
3
3850
750
3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [19]:
def multiply_params(*args):
    result = 1
    for num in args:
        result *= num
    return result

print(multiply_params(a1_result))
print(multiply_params(a2_result))
print(multiply_params(a3_result))
print(multiply_params(a4_last_result))

750
3
3850
3000

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [20]:
def addition(a, b):
    return a + b

def subtraction(a, b):
    return a - b

def multiplication(a, b):
    return a * b

def division(a, b):
    if b != 0:
        return a // b 
    else:
        return "Error, the number cannot be divided by zero"


operation = input("Choose operation (+, -, *, /): ")

x = int(input("Enter a number: "))
y = int(input("Enter a number: "))

if operation == '+':
    result = addition(x, y)
elif operation == '-':
    result = subtraction(x, y)
elif operation == '*':
    result = multiplication(x, y)
elif operation == '/':
    result = division(x, y)
else:
    result = "Error: invalid operation"

print("Result:", result)

Choose operation (+, -, *, /): +
Enter a number: 2304
Enter a number: 930
Result: 3234

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [29]:
def calc(expression):
    parts = expression.split()
    
    if len(parts) != 3:
        return "Неверный формат выражения"
    
    num1 = int(parts[0])
    operator = parts[1]
    num2 = int(parts[2])
    
    if operator == '+':
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '/':
        if num2 == 0:
            return "Деление на ноль недопустимо"
        return num1 // num2
    elif operator == '%':
        if num2 == 0:
            return "Деление на ноль недопустимо"
        return num1 % num2
    elif operator == '^':
        return num1 ** num2
    else:
        return "Неподдерживаемая операция"

# Пример использования
print(calc('13 - 5'))
print(calc('6 / 3'))
print(calc('34 + 3'))
print(calc('2 ^ 4'))
print(calc('14 : 3'))

8
2
37
16
Неподдерживаемая операция

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [22]:
def информация_о_автомобиле(**kwargs):
    марка = kwargs.get('марка', 'неизвестная марка')
    модель = kwargs.get('модель', 'неизвестная модель')
    цвет = kwargs.get('цвет', 'неизвестный цвет')
    год_выпуска = kwargs.get('год_выпуска', 'неизвестный год')
    пробег = kwargs.get('пробег', 'неизвестный пробег')
    номерной_знак = kwargs.get('номерной_знак', 'неизвестный номер')
    цена = kwargs.get('цена', 'неизвестная цена')

    сообщение = f"Автомобиль марки: {марка}, модели: {модель}, цвета: {цвет}, {год_выпуска} года выпуска, с пробегом: {пробег} км, с номерным знаком: {номерной_знак}, цена: {цена} руб."
    print(сообщение)

c1 = {
    'марка': 'BMW',
    'модель': 'X5',
    'цвет': 'белый',
    'год_выпуска': 2006,
    'пробег': '215 000',
    'номерной_знак': 'X012АМ77',
    'цена': '1 115 000'
}

c2 = {
    'марка': 'Audi',
    'модель': 'A4',
    'год_выпуска': 2015,
    'пробег': '85 000',
    'цена': '1 550 000'
}

# Вывод сообщения для двух различных словарей
информация_о_автомобиле(**c1)
информация_о_автомобиле(**c2)

Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, с номерным знаком: X012АМ77, цена: 1 115 000 руб.
Автомобиль марки: Audi, модели: A4, цвета: неизвестный цвет, 2015 года выпуска, с пробегом: 85 000 км, с номерным знаком: неизвестный номер, цена: 1 550 000 руб.

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [23]:
def to_text(number):
    numbers_dict = {
        0: 'Ноль', 1: 'Один', 2: 'Два', 3: 'Три', 4: 'Четыре', 5: 'Пять',
        6: 'Шесть', 7: 'Семь', 8: 'Восемь', 9: 'Девять', 10: 'Десять',
        11: 'Одиннадцать', 12: 'Двенадцать', 13: 'Тринадцать', 14: 'Четырнадцать',
        15: 'Пятнадцать', 16: 'Шестнадцать', 17: 'Семнадцать', 18: 'Восемнадцать',
        19: 'Девятнадцать', 20: 'Двадцать', 30: 'Тридцать', 40: 'Сорок',
        50: 'Пятьдесят', 60: 'Шестьдесят', 70: 'Семьдесят', 80: 'Восемьдесят',
        90: 'Девяносто'
    }

    if number in numbers_dict:
        return numbers_dict[number]

    tens = number // 10 * 10
    ones = number % 10

    return f"{numbers_dict[tens]} {numbers_dict[ones].lower()}"

print(to_text(15))  
print(to_text(42))  
print(to_text(99))

Пятнадцать
Сорок два
Девяносто девять

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

In [24]:
def to_int(text): #Создается функция to_int(text), которая принимает текст в виде цифр на русском языке
    numbers_dict = {
        'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4, 'пять': 5,
        'шесть': 6, 'семь': 7, 'восемь': 8, 'девять': 9, 'десять': 10,
        'одиннадцать': 11, 'двенадцать': 12, 'тринадцать': 13, 'четырнадцать': 14,
        'пятнадцать': 15, 'шестнадцать': 16, 'семнадцать': 17, 'восемнадцать': 18,
        'девятнадцать': 19, 'двадцать': 20, 'тридцать': 30, 'сорок': 40,
        'пятьдесят': 50, 'шестьдесят': 60, 'семьдесят': 70, 'восемьдесят': 80,
        'девяносто': 90, 'сто': 100, 'двести': 200, 'триста': 300, 'четыреста': 400, 'пятьсот': 500,
        'шестьсот': 600, 'семьсот': 700, 'восемьсот': 800, 'девятьсот': 900
    }

    words = text.split() #Входной текст разбивается на слова и записывается в переменную words
    
    #Если слов в тексте только одно, то возвращается соответствующее численное значение из словаря numbers_dict
    if len(words) == 1:
        return numbers_dict[words[0]] 

    #Создаются переменные total (итоговое число), current_total (текущее число) и prev_total (предыдущее число)
    total = 0
    current_total = 0
    prev_total = 0

 #   Для каждого слова из текста:
  # - Считывается численное значение из словаря
   #- Если число меньше 10, то оно добавляется в current_total
  # - Если число в диапазоне от 10 до 100, и предыдущий total равен 0, то число прибавляется к current_total, иначе произведение умножается на число
  # - Если число в диапазоне от 100 до 1000, и предыдущий total равен 0, то число прибавляется к current_total, иначе произведение умножается на число, текущее число добавляется к общему total, и текущее число обнуляется
    for word in words:
        number = numbers_dict[word]
        if number < 10:
            current_total += number
        elif number < 100:
            if prev_total == 0:
                current_total += number
            else:
                current_total *= number
        elif number < 1000:
            if prev_total == 0:
                current_total += number
            else:
                current_total *= number
                total += current_total
                current_total = 0
                prev_total = number

    #К total добавляется current_total и возвращается итоговое число
    total += current_total
    return total


print(to_int('тридцать три'))  
print(to_int('сто двадцать пять'))  
print(to_int('двести тринадцать'))  
print(to_int('пятьсот'))

33
125
213
500